.about-section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    color: #01579b; /* Dark sky blue */
    margin-top: 20px;
}

.about-section p, .about-section ul {
    font-size: 16px;
    line-height: 1.6;
}

.about-section ul {
    list-style-type: disc;
    margin-left: 20px;
}
