*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
header{
    position: relative;
    border-bottom: 500px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color:rgb(138, 244, 244);
}

.container{
    background-color: white;
    padding: 20px;
    border-color: #000000;
    border-width: 100px;
    width:1000px;
    height: 790px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.container:hover{
    border-color: #4bfafa;
    background-color: #eff9f9;
}

.title{
    font-size:28px;
    font-weight:bold;
    text-align: center;
    color:black;
    margin-bottom: 30px;
}
/*.title:hover{

    background-color: #86f3f3;
    display: block;
    
}*/

form .user-details{
    display: flex;
    flex-wrap: wrap;
    /*border: 3px solid;*/
    /*margin-bottom: 50px;*/
}
form .input_box{
    margin-bottom: 50px;
    width: 48%;
    margin-right:2%;
}
form .input_box .details{
    display: inline-block;
    font-weight:598px;
    font-size: 20px;
    color:black;
    margin-top: 15px;
}
form .input_box input{
    width:100%;
    padding: 5px 10px;
    font-size:20px;
    border:none;
    border-bottom: 3px solid #000000;
    outline: none;
    transition: border-color backgroud-color 0.3s ease;
}
form .input_box input::placeholder {
    color: #c9c3c3 0.3s ease; 
}
form .input_box input:hover{
    border-color:rgb(101, 228, 242);
   
}
button{
     font-size:15px;
     font-weight: 300;
    transform: translateX(800px);
    background-color: hsl(191, 44%, 64%);
}
/*header{
     transform: translateZ(400px);
}*/

header a{
    position:absolute;
    bottom: 350px;
    right: 160px;
}
@media(max-width:768px)
{
    form .input_box{
        width: 100%;
    }
}

#info{
    width: 400px;
    height: 70px;
    font-size: 1em;
    padding: 5px;
   /* border: 3px solid;*/
    transform: translateY(10px);
    /*float: left;*/
}



#mySubmit{
    /*float: right;*/
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translate(820px, 10px);
    background-color: rgb(4, 191, 248);
    
}